.container{
    display: flex;
    justify-content: center;
    margin-top: 12rem;
   
}

.leftItems{
    align-items: left;
}

.rightItems{
    align-items: right;
}

.styles_typicalWrapper__1_Uvh {
    font: 600 28px Roboto;
    letter-spacing: 0;
    color: #00FF90;
    margin: 0px;
}
h2{
    margin: 0px;
    text-align: left;
    font:  80px Roboto black;
    letter-spacing: 0;
    color: #FFFFFF;
}

h3{
    text-align: left;
    font: Regular 28px/34px Roboto;
    letter-spacing: 0;
    color: #DCDCDC;
}

p{
    max-width: 584px;;
    text-align: left;
    font: Regular 16px/19px Roboto;
    letter-spacing: 0;
    color: #D1D1D1;
}

.buttonSolid{
    width: 174px;
    height: 60px;
    background: #00FF90 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: none;
    font-size: 22px;
    margin-right: 24px;
    margin-top: 60px;
    
}

.buttonBorder{
    width: 174px;
    height: 60px;
    background-color: transparent;
    color: white;
    border-radius: 6px;
    border: 1px solid #00FF90;
    font-size: 22px;
}

.illustration{
    display: flex;
    width: 650px;
    justify-content: flex-end;
    
}


